.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App__Game {
    border: 1px solid #cecaca;
    width: 80%;
    margin: 40px auto;
    display: flex;
}

/*left side*/
.App__Game_left,
.App__Game_right {
    border: 1px solid #cecaca;
    min-height: 75vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*right side*/
.App__Game_right {

}
.App__Game_left_table{
    /*width: 25rem;*/
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px gray;
}

.App__Game_left_table > p {
    box-sizing: border-box;
    border: 1px solid gray;
    /*width: 5rem;*/
    /*height: 5rem;*/
    margin: 0;
    font-size: 10px;
}


